body {
  background-color: rgb(255, 174, 201);
}
#pig-img {
  background-image: url("./img/pigdice.jpg");
  min-height: 200px;
  min-width: 200px;
  max-width: 200px;
  max-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}
#header {
  max-height: 300px;
}
#header h1 {
  font-size: 2em;
}
#header p {
  word-wrap: normal;
  font-style: italic;
  font-size: 1.5em;
}
#header hr {
  width: 100%;
  border: 2px solid white;
}
#header div:last-of-type {
  float: right;
}
#reset-game-container {
  display: none;
}
.player-name-score {
  font-size: 2em;
  display: flex;
  justify-content: center;
  width: 48%;
  border: 1px solid red;
}
#reset-game-button {
  float: right;
}
#game-container {
  display: none;
}
#game-buttons-container {
  display: flex;
  justify-content: space-between;
}
#players {
  display: flex;
  flex-direction: row;
}
.game-button {
  width: 32%;
}
#game-turn-info {
  font-size: 2em;
}
